<footer>
  <div class="grid-container-footer">

    <div class="footer-nav">
      <ul>
        <li>About Us</li>
        <li>Shipping</li>
        <li>Farms</li>
        <li>Our Facilities</li>
        <li>Wholesale</li>
        <li>Terms</li>
        <li>Privacy Policy</li>
      </ul>
    </div>
    <div class="footer-address">
      <p><strong>Bodhi Ltd</strong> / 6 Hamilton Place,
      Edinburgh,
      EH3 5AU,
        United Kingdom</p>
    </div>
    <div class="footer-social">
      <ul>
        <li><i class="fab fa-facebook-f"></i></li>
        <li><i class="fab fa-instagram"></i></li>
        <li><i class="fab fa-pinterest"></i></li>
        <li><i class="fab fa-youtube"></i>
      </ul>
      </li>

    </div>

    <div class="footer-connect">
      <h3>connect with us</h3>
      <input type="text" placeholder="Subscribe - Enter Email" style="font-style:italic">
    </div>

    <div class="footer-cards">
      <ul>
        <li><i class="fab fa-cc-visa"></i></li>
        <li><i class="fab fa-cc-mastercard"></i></li>
        <li><i class="fab fa-cc-paypal"></i></li>
      <li><i class="fab fa-cc-stripe"></i></li>
      </ul>
      </li>
    </div>
  </div>
</footer>
