<!---FULL SCREEN NAV--->
<section id="desktop-nav">
<nav class="grid-container-nav">
  <div class="left-nav">
    <ul>
      <li>CBD FLOWER</li>
      <li>ACCESSORIES</li>
      <li>MULTI PACKS</li>
    </ul>
  </div>
  <div class="logo"><img src="https://cdn.shopify.com/s/files/1/0063/1360/7266/files/logoblack.png?14544251487220134235" alt="logo"></div>
  <div class="right-nav">
    <ul>
      <li>OUR CRAFT</li>
      <li>WHY US?</li>
      <li>BLOG</li>
      <li><i class="fa fa-shopping-bag"></i></li>
      <li><i class="fa fa-user"></i></li>
    </ul>
    </div>
	  </nav>
</section>

<!---MOBILE TABLET NAV--->
<section id="mobile-nav">
<!-- Logo -->

<header id="mast" class="">

  	<div id="logo">
  	  <img src="https://cdn.shopify.com/s/files/1/0063/1360/7266/files/logoblack.png?14544251487220134235" alt="logo">
  </div>

<!-- Main Nav-->
<a id="toggle" href="#"><div class="menubars"></div></a>
<nav>
		<div class="nav-background">
			<ul>
			   <li>
			   <p>Bodhi</p>
           <a href="">Home</a>
			   </li>
			   <li>
			   <p>Who we are, what we do</p>
			   <a href="#">About Us</a>
			   </li>
			   <li>
			   <p>What we think</p>
			   <a href="#">The Blog</a></li>

			   <li>
			   <p>Lets Talk</p>
			   <a href="#">Get In Touch</a></li>
			   <li>
			   <p>Be Social</p>
			   <a href="#">Join Us</a></li>
			</ul>
	</div>
</nav>
</header>
</section>
