<!---FULL SCREEN NAV--->
<section id="desktop-nav">
<nav class="container-nav">
  <div class="logo"><a href="{{ section.settings.logo-link }}"><img src="{{ section.settings.navigation-logo | img_url: '1920x' }}" alt="logo"></a></div>
  <div class="nav-links">
      <ul>
        {% for link in linklists[section.settings.main_linklist].links %}
        <li> <a href= "{{link.url}}">{{link.title}}</a></li>
        {% endfor %}
        <li><i class="fa fa-shopping-bag"></i></li>
        <li><i class="fa fa-user"></i></li>
      </ul>
    </div>
	  </nav>
</section>

<!---MOBILE TABLET NAV--->
<section id="mobile-nav">
<!-- Logo -->

<header id="mast" class="">

  	<div id="logo">
  	  <img src="https://cdn.shopify.com/s/files/1/0063/1360/7266/files/logoblack.png?14544251487220134235" alt="logo">
  </div>

<!-- Main Nav-->
<a id="toggle" href="#"><div class="menubars"></div></a>
<nav>
		<div class="nav-background">
			<ul>
			   <li>
			   <p>Bodhi</p>
           <a href="">Home</a>
			   </li>
			   <li>
			   <p>Who we are, what we do</p>
			   <a href="#">About Us</a>
			   </li>
			   <li>
			   <p>What we think</p>
			   <a href="#">The Blog</a></li>

			   <li>
			   <p>Lets Talk</p>
			   <a href="#">Get In Touch</a></li>
			   <li>
			   <p>Be Social</p>
			   <a href="#">Join Us</a></li>
			</ul>
	</div>
</nav>
</header>
</section>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "navigation-logo",
        "label": "Navigation Logo"
      },
      {
        "type": "url",
        "id": "logo-link",
        "label": "Logo Link"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Navigation Link List",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}
