<section class="hero-body">

		<div class="grid-container-hero">

			<div class="hero-header">
			<h1>experience craft hemp</h1>
			<h3>swiss grown cbd flower</h3>
			</div>

			<div class="hero-product">
        <img src="{{ section.settings.hero-image | img_url: '1920x' }}"/>

        </div>

      <div class="hero-button">
      <button class="btn-hero fifth-hero">Order Here</button>
        </div>

		 </div>
	  </section>

		
