<section class="hero-body">

		<div class="grid-container-hero">

			<div class="hero-header">
			<h1>experience craft hemp</h1>
			<h3>swiss grown cbd flower</h3>
			</div>

			<div class="hero-product">
        <img src="https://cdn.shopify.com/s/files/1/0063/1360/7266/files/bodhi-packaging.png?10659114627710065345"/>
				
        </div>

      <div class="hero-button">
      <button class="btn-hero fifth-hero">Order Here</button>
        </div>

		 </div>
	  </section>
