<section class="intro">
      <div class="left">
        <div>
          <span>Explore</span>
          <h1>cbd for any given moment</h1>
          <p>Our CBD can be enjoyed wherever you are, whenever the time. At Bodhi we love to vapourise our flower to get the purest, cleanest effect.</p>
          <a href="#" target="_blank">Select your strength here <i class="fas fa-cannabis"></i></a>
        </div>
      </div>

      <div class="slider">
        <ul>
          <li style="background-image:url(https://images.unsplash.com/photo-1458640904116-093b74971de9?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375)">
            <div class="center-y">
              <h3>Pristine</h3>
              <a href="#">Try a bag</a>
            </div>
          </li>
          <li style="background-image:url(https://images.unsplash.com/photo-1451906278231-17b8ff0a8880?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375)">
            <div class="center-y">
              <h3>Pure</h3>
              <a href="#">Get It Fresh</a>
            </div>
          </li>
          <li style="background-image:url(https://images.unsplash.com/photo-1456428199391-a3b1cb5e93ab?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375)">
            <div class="center-y">
              <h3>Sublime</h3>
              <a href="#">Indulge</a>
            </div>
          </li>
        </ul>

        <ul>
          <nav>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
          </nav>
        </ul>
      </div>
	</section>
