<section id="info">
		<div class="info-grid-container">
		<div class="info-content">
      <h1>Taste swiss</h1>
      <h3>From the mountains</h3>
      <p>Here at Bodhi we produce only the finest quality CBD Flower. Imported from our growing facilities in Switzerland, you will experiance a distinct flavour cultivited in the Swiss climate.</p>
      </div>

      <div class="info-button">
      <button class="btn fifth">Learn More</button>
        </div>

	  </section>
