

<!-- Start video hero -->
<section>
<div class="video-hero jquery-background-video-wrapper demo-video-wrapper">
  <video class="jquery-background-video" autoplay muted loop poster="https://cdn.shopify.com/s/files/1/0063/1360/7266/files/black-and-white-fog-foggy-234272.jpg?11767535414128066820">
    <source src="https://cdn.shopify.com/s/files/1/0063/1360/7266/files/7DFE4F29-1117-4747-B465-90218EA2A83E-1916-00000425D542533A_2.mp4?11767535414128066820">
    <source src="https://d2ezlykacdqcnj.cloudfront.net/_assets/home-video/beach-waves-loop.webm" type="video/webm">
    <source src="https://d2ezlykacdqcnj.cloudfront.net/_assets/home-video/beach-waves-loop.ogv" type="video/ogg">
  </video>
	  <div class="video-overlay"></div>
  	<div class="page-width">
		    <div class="video-hero--content">
			      <h1>{{ section.settings.hero-h1 }}</h1>
			      <h2>{{ section.settings.hero-h2 }}</h2>
          <a href="{{ section.settings.hero-image-link }}"><img src="{{ section.settings.hero-image | img_url: '1920x' }}"/></a>
    		</div>
  	</div>
</div>
</section>
<!-- End video hero -->


{% schema %}
{
  "name": "Hero Image",
  "settings": [
  {
    "type": "text",
    "id": "hero-h1",
    "label": "Heading Text"
  },
  {
    "type": "text",
    "id": "hero-h2",
    "label": "Sub Heading Text"
  },
  {
    "type": "image_picker",
    "id": "hero-image",
    "label": "Hero Image"
  },
  {
    "type": "url",
    "id": "hero-image-link",
    "label": "Hero Image Link"
  }
  ]
}
{% endschema %}
