<section class="checkout-page-container">
<div class="cart-page-wrapper"></div>
  <div class="cart-header">
   <h2>Shopping Cart</h2>
    </div>

  <div class="cart-container">
    <div class="cart-headers">
      <h3 class="cart-header-product">Product</h3>
      <h3 class="cart-header-detail">Quantity</h3>
      <h3 class="cart-header-detail">Remove</h3>
      <h3 class="cart-header-detail">Price</h3>
    </div>
   <div class="cart-item-container">
     <div class="item-product">
       <img src="https://picsum.photos/150/150" alt="">
       <span>Bodhi Super strong weed</span>
     </div>
     <div class="item-detail"><input type="text" class="cart-input"><a href="#"><i class="fas fa-sync"></i></a></div>
     <div class="item-detail"><a href="#"><i class="fas fa-trash-alt"></i></a></div>
     <div class="item-detail">£12.99</div>
    </div>
  </div>

  <!----MOBILE CART---->

     <div class="mobile-cart">
       <div class="mobile-product">
         <img src="https://picsum.photos/150/150" alt="">
       </div>
      <div class="mobile-cart-details">
        <h3>Bodhi Super Weed</h3>
        <h2>£12.99</h2>
        <div class="mobile-cart-options">
        <input type="text" class="cart-input">
        <a href="#"><i class="fas fa-sync"></i></a>
        <a href="#"><i class="fas fa-trash-alt"></i></a>
      </div>
       </div>
    </div>

    <!---END MOBILE CART--->

  <div class="finalise-container">
    <div class="checkout-note">
      <h3>Note</h3>
      <p>Add special instructions for your order</p>
      <textarea name="" id="order-note" cols="30" rows="10"></textarea>
  </div>
    <div class="checkout-total">
      <div class="subt">
        <h3>Subtotal</h3>
        <h3>£12.99</h3>
      </div>
      <div class="grandt">
        <h2>Grand Total</h2>
        <h2>£12.99</h2>
      </div>
      <div class="checkout">
        <div class="info-button">
        <button class="btn fifth" style="margin-right: 0;">CHECKOUT</button>
      </div>
      </div>
      <div class="checkout-trust"><img src="https://cdn.shopify.com/s/files/1/0063/1360/7266/files/safe_checkout.png?1443724246288492705" alt=""></div>
</div>
</section>
