<section class="contact-page">
  <div class="cart-header">
   <h2>Get In Touch With US</h2>
    </div>

  <div class="contact-form">
    <div class="contact-field">
      <h3>Name</h3>
    <input type="text" class="contact-input">
    </div>
    <div class="contact-field">
      <h3>Phone</h3>
    <input type="text" class="contact-input">
    </div>
    <div class="contact-field">
      <h3>Email</h3>
    <input type="text" class="contact-input">
    </div>
  </div>
  <div class="contact-textarea">
    <textarea name="" id="text-area-contact" cols="30" rows="10"></textarea>
  </div>
  <div class="contact-submit">
    <div class="info-button">
    <button class="btn fifth" style="margin-right: 0;">SEND</button>
  </div>
  </div>

<iframe style="margin-bottom: -.25em; margin-top: 1em; border-top: solid 2px #c2b161;" width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=6%20hamilton%20place%20edinburgh&key=AIzaSyC_151Hl7uDPMWMjXH-qP7usCRI54Amyhw" allowfullscreen></iframe>
</section>
